<%= turbo_frame_tag :task do %>
  <div class="p-4 border w-full bg-white">

    <%= render @task %>

    <p class="font-serif font-semibold text-gray-600">Status: <%= @task.status ? 'Complete' : 'Incomplete' %></p>
    <div class="mt-6 flex gap-2">
      <%= link_to "Edit this task", edit_task_path(@task), class: 'btn-success', 'data-turbo-frame': 'task' %>
      <%= link_to "Back to tasks", tasks_path, class: 'btn-info' %>

      <%= button_to "Destroy this task", @task, method: :delete, class: 'btn-danger' %>
    </div>
  </div>
<% end %>
